body {
    background-color: gainsboro;

}

.container {
    border: solid green;
    width: 100%;

}

.row {
    border: solid blue;
}

/*.col-sm-3 {
    border: solid deeppink;
}*/

.col-lg-4 { border: solid pink;

}
.col-lg-3 { border: solid pink;


}

.col-lg-12 { border: solid pink;


}

.col-sm-3 { border: solid pink;


}



.social {
    width: 60px;
    padding:10px 10px 10px 10px;
    align-content: center;

}


.fixed-bottom {
    text-align: center;
}
/*
.work h3 {
    position: absolute;
    bottom: 20px;
    width: 200px;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;;
    text-align: center;
    font-weight: 300px;
    background-color: #4aaaa5;

}

.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}