body {
    background-color: gainsboro;

}

.container {
    border: solid green;

}

.row {
    border: solid blue;
}

.col {
    border: solid deeppink;
}

.social {
    width: 70px;
    padding:10px 10px 10px 10px;
    align-content: center;
}

.fixed-bottom {
    text-align: center;
}